<head>
    <meta charset="UTF-8" />
    <title>
        <% if (page.title) { %>
            <%= page.title + '｜' + config.title %>
        <% } else { %>
            <%= config.title %>
        <% } %>
    </title>
    <%- css('css/reset.css') %>
    <%- css('css/main.css') %>
    <%- css('css/highlight.css') %>
    <% if (theme.rss) { %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <!-- analytics -->
    <%- partial('_third-party/analytics/index') %>
</head>
